.accordion-sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  color: white;

  a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  a:hover {
    color: white;
    background-color: #575757;
  }
}

.accordion-sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-item {
  border-bottom: 1px solid #555;
}

.sidebar-title {
  display: flex;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;

  a {
    text-align: left;
    width: 100%;
    color: white;
    text-decoration: none;
    display: block;
  }

  a:hover {
    color: white;
    background-color: #575757;
  }
}

.accordion-item {
  padding: 10px;
  border-bottom: 1px solid #555;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 10px;
}

.accordion-content.show {
  max-height: 200px; /* ここはコンテンツの量に応じて調整 */
}
